#t{
    background: linear-gradient(to right, #0c2d55, #9b0302 );
}

#nav-menu{
    background: linear-gradient(to right, #0c2d55, #9b0302 );
    color: white;
}

#profile-menu{
    background: linear-gradient(to right, #0c2d55, #9b0302 );
    color: white;
}
#headlink{
    color:white
}